.blog-post-preview {
    opacity: 0;
    padding: {
        top: $spacing-md;
    }
    transform: translateY(5px);
    @include standard-transition((opacity, transform), $duration: 0.3s, $delay: 0.1s);
    @include media($size-tablet) {
        display: flex;
    }

    &.-inview {
        opacity: 1;
        transform: translateY(0px);
    }

    &__image {
        @include media($size-tablet) {
            flex: 1 0 auto;
            margin-right: $spacing-md;
            width: 50%;
            transform: translateX(-10px);
            @include standard-transition(transform, $duration: 0.3s, $delay: 0.1s);

            .-inview & {
                transform: translateX(0px);
            }
        }
        @include media($size-desktop) {
            flex: 0 0 740px;
            width: 740px;
        }

        > a {
            @include standard-transition(opacity);

            &:hover {
                opacity: 0.8;
            }
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__content {
        @include media($size-tablet) {
            flex: 0 1 auto;

            .-has-image & {
                transform: translateX(10px);
                @include standard-transition(transform, $duration: 0.3s, $delay: 0.1s);
            }


            .-inview & {
                transform: translateX(0px);
            }
        }
    }

    &__meta {
        color: $col-gray;
        display: block;
        padding: {
            top: $spacing-sm;
            bottom: $spacing-xs;
        }
    }

    &__title {
        max-width: 300px;

        > a {
            color: $col-orange;
            @include standard-transition(color);

            &:hover {
                color: $col-blue;
            }
        }
    }

    &__link {
        color: $col-orange;
        display: flex;
        align-items: center;
        @include standard-transition(color);

        svg {
            fill: $col-orange;
        }

        &:hover {
            color: $col-blue;

            svg {
                fill: $col-blue;
                @include standard-transition(fill);
            }
        }
    }
}