.blog-post-preview {
    padding: {
        top: $spacing-md;
    }
    @include media($size-desktop) {
        display: flex;
    }

    &__image {
        @include media($size-desktop) {
            flex: 1 0 auto;
            margin-right: $spacing-md;
            width: 740px;
        }

        > a {
            @include standard-transition(opacity);

            &:hover {
                opacity: 0.8;
            }
        }

        > img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__content {
        @include media($size-desktop) {
            flex: 0 1 auto;
        }
    }

    &__meta {
        color: $col-gray;
        display: block;
        padding: {
            top: $spacing-sm;
            bottom: $spacing-xs;
        }
    }

    &__title {
        max-width: 300px;

        > a {
            color: $col-orange;
            @include standard-transition(color);

            &:hover {
                color: $col-blue;
            }
        }
    }

    &__link {
        color: $col-orange;
        display: flex;
        align-items: center;
        @include standard-transition(color);

        svg {
            fill: $col-orange;
        }

        &:hover {
            color: $col-blue;

            svg {
                fill: $col-blue;
                @include standard-transition(fill);
            }
        }
    }
}