
@mixin media($query: $feature $value) {
    @media screen and ($breakpoint-direction: $query) {
        @content;
    }
}

@mixin standard-transition($properties, $duration: $base-duration, $easing: $base-timing, $delay: 0s) {
    transition-property: join($properties, (), comma);
    transition-duration: $duration;
    transition-timing-function: $easing;
    transition-delay: $delay;
}