.page-head {
    &__logo-container {
        background-color: $col-blue-light;

        > .container {
            display: flex;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        line-height: 1;
        margin: {
            top: $spacing-xs;
            right: auto;
            bottom: $spacing-xs;
            left: auto;
        }
        text-decoration: none;
        @include media($size-desktop-menu) {
            margin-left: 0;
        }

        > svg {
            max-width: 50px;
            max-height: 40px;
        }
    }

    &__logo-text {
        color: $col-white;
        display: none;
        font-weight: 700;
        margin:{
            top: $base-spacing;
            left: $spacing-sm;
        }
        @include media($size-desktop-menu) {
            display: block;
        }
    }

    &__mobile-nav-toggle {
        background-color: $col-blue-light;
        cursor: pointer;
        width: 60px;
        @include standard-transition(background-color);
        @include media($size-desktop-menu) {
            display: none;
        }

        &:hover,
        &.is-active {
            background-color: $col-blue;
        }
    }

    &__navigation {
        @extend %base-nav;
        background-color: $col-blue;
        display: none;
        @include media($size-desktop-menu) {
            display: block;
        }

        .menu {
            @include media($size-desktop-menu) {
                display: flex;
                margin: {
                    right: auto;
                    left: auto;
                }
                max-width: $size-desktop;
            }
        }

        .-nav-open & {
            display: block;
        }

        .menu-item {
            border-bottom: 1px solid $col-blue-off-white;
            @include media($size-desktop-menu) {
                border-bottom: none;
            }

            &:last-child {
                border-bottom: none;
            }

            > a {
                @extend .container;
                color: $col-white;
                display: block;
                padding: {
                    top: $spacing-sm;
                    bottom: $spacing-sm;
                }
                @include standard-transition(color);

                &:hover {
                    color: $col-yellow;
                }
            }



            &.current-menu-item,
            &.current_page_parent {
                background-color: $col-blue-dark;

                > a {
                    color: $col-yellow;
                }
            }
        }
    }
}