.page-head {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    &__logo-container {
        background-color: $col-blue-light;

        > .container {
            display: flex;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        line-height: 1;
        margin: {
            top: $spacing-xs;
            right: auto;
            bottom: $spacing-xs;
            left: auto;
        }
        text-decoration: none;
        @include media($size-full-menu) {
            margin-left: 0;
        }

        > svg {
            max-width: 50px;
            max-height: 40px;
        }
    }

    &__logo-text {
        color: $col-white;
        display: none;
        font-weight: 700;
        margin:{
            top: $base-spacing;
            left: $spacing-sm;
        }
        @include media($size-full-menu) {
            display: block;
        }
    }

    &__mobile-nav-toggle {
        background-color: $col-blue-light;
        cursor: pointer;
        width: 60px;
        @include standard-transition(background-color);
        @include media($size-full-menu) {
            display: none;
        }

        &:hover,
        &.is-active {
            background-color: $col-blue;
        }
    }

    &__navigation {
        @extend %base-nav;
        background-color: $col-blue;
        display: none;
        max-height: calc(100vh - 60px);
        overflow-y: auto;
        @include media($size-full-menu) {
            display: block;
            max-height: inherit;
            overflow: inherit;
        }

        .menu {
            @include media($size-full-menu) {
                display: flex;
                margin: {
                    right: auto;
                    left: auto;
                }
                max-width: $size-desktop + ($spacing-md * 2);
            }
        }

        .-nav-open & {
            display: block;
        }

        .menu-item {
            border-bottom: 1px solid $col-blue-off-white;
            @include media($size-full-menu) {
                border-bottom: none;
            }

            &:last-child {
                border-bottom: none;
            }

            > a {
                @extend .container;
                color: $col-white;
                display: block;
                padding: {
                    top: $spacing-sm;
                    bottom: $spacing-sm;
                }
                @include standard-transition(color);

                &:hover {
                    color: $col-yellow;
                }
            }



            &.current-menu-item,
            &.current_page_parent {
                background-color: $col-blue-dark;

                > a {
                    color: $col-yellow;
                }
            }
        }
    }
}