*,
::after,
::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
}


body {
    @extend %base-content;
    display: flex;
    color: $col-gray-dark;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    flex-direction: column;
    height: 100vh;
    padding-top: 60px;
    @include media($size-full-menu) {
        padding-top: 110px;
    }

    &.-nav-open {
        overflow: hidden;

        @include media($size-full-menu) {
            overflow: visible;
        }
    }
}


.page-main {
    flex: 1 0 auto;
}

.container {
    width: 100%;
    max-width: $size-desktop + ($spacing-md * 2);
    margin: 0 auto;
    padding: {
        right: $spacing-md;
        left: $spacing-md;
    }
}

.general-content {
    margin-top: $spacing-sm;

    &--full-page {
        opacity: 0;
        transform: translateY(5px);
        @include standard-transition((opacity, transform), $duration: 0.3s, $delay: 0.1s);


        &.-inview {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    h1, h2, h3, h4, h5, h6, p {
        margin-bottom: $spacing-sm;
        line-height: 1.4;
    }

    p {
        @extend %base-content;
        max-width: 700px;
    }
}