%base-heading {
    font-size: 36px;
}

%base-content {
    font-size: 14px;
}

%base-nav {
    font-size: 18px;
}

%base-form {
    font-size: 16px;
}

.h1 {
    @extend %base-heading;
    line-height: 1.2;
}