// Colors
$col-blue: #004EAE;
$col-blue-dark: #013371;
$col-blue-light: #006EF5;
$col-gray: #767676;
$col-gray-dark: #333333;
$col-orange: #CC4B00;
$col-white: #FFFFFF;
$col-yellow: #FFC700;

$breakpoint-direction: 'min-width';

// Breakpoints
$size-desktop: 1200px;